version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: fintech-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=fintech-network
    networks:
      - fintech-network

  redis:
    image: redis:7-alpine
    container_name: fintech-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - fintech-network

volumes:
  mongodb_data:
  redis_data:

networks:
  fintech-network:
    driver: bridge
